*.log
dist/
conf.d/
node_modules/
*.key
*.crt
hshicopvault/
OpenSSL-Win64/
ansible/
reverseproxy/0
*.pem
grafana_dataja/
*.env
TaskTracker-nginxkube-Dev/
TaskTracker/OpenSSL-Win64/
TaskTracker-nginx-vaultSDK/vaults/
TaskTracker-nginx-vaultSDK/vault-script/
*token
frontend/